* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

#game {
  width: 800px;
  height: 500px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.wall {
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: black;
  animation: wallmove 2s infinite linear;
  animation-delay: 5s;
  left: 100%;
}

.hole {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 150px;
}

@keyframes wallmove {
  0% {
    left: 100%;
  }

  100% {
    left: -50px;
  }
}

.char {
  width: 30px;
  height: 30px;
  background-color: turquoise;
  position: absolute;
  left: 200px;
  border-radius: 50%;
}

/* score */

.score-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4vw;
}

.current-score,
.high-score {
  text-align: center;
  margin: 2vw;
}

.high-score {
  color: turquoise;
}

/* intro */
.intro-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.intro {
  width: 40%;
  margin: auto;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
}

.intro h2,
p {
  text-align: center;
  margin: 1rem;
}

.intro-timer {
  font-size: 3rem;
}
